<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.article.ArticleMapper">

    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into article(title,summary,md_content,html_content,category,tags)
        values(#{title},#{summary},#{mdContent},#{htmlContent},#{category},#{tags})
    </insert>

    <update id="updateArticle">
        update article set title = #{title}, summary = #{summary}, md_content = #{mdContent},html_content = #{htmlContent}, category = #{category}, tags = #{tags}
        where article_id = #{articleId}
    </update>

    <delete id="deleteArticle">
        delete from article
        where article_id = #{articleId}
    </delete>

    <select id="selectArticle" resultMap="ArticlePO">
        select * from article
        where article_id = #{articleId}
    </select>

    <select id="selectAllArticlesByTime" resultMap="ArticlePO">
        select * from article
        where category = #{category}
        order by time desc
    </select>

    <select id="selectAllArticlesByPageviews" resultMap="ArticlePO">
        select * from article
        where category = #{category}
        order by pageviews desc, time desc
    </select>

    <select id="selectAllArticlesByTimeByAdmin" resultMap="ArticlePO">
        select * from article
        order by time desc
    </select>

    <select id="ifExist" resultType="boolean">
        select count(article_id)
        from article where article_id = #{articleId}
    </select>

    <update id="addPageviews">
        update article set pageviews = pageviews + 1
        where article_id = #{articleId}
    </update>

    <select id="selectArticleByTitle" resultMap="ArticlePO">
        select * from article
        where title like '%${title}%'
        order by time desc
    </select>

    <select id="selectArticleByTags" resultMap="ArticlePO">
        select * from article
        where tags like '%${tags}%'
        order by time desc
    </select>

    <resultMap id="ArticlePO" type="financial_management.entity.ArticlePO">
        <result column="article_id" property="articleId"></result>
        <result column="title" property="title"></result>
        <result column="summary" property="summary"></result>
        <result column="md_content" property="mdContent"></result>
        <result column="html_content" property="htmlContent"></result>
        <result column="category" property="category"></result>
        <result column="tags" property="tags"></result>
        <result column="pageviews" property="pageviews"></result>
        <result column="time" property="time"></result>
    </resultMap>

</mapper>