<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.order.PersonalTradeMapper">
    <resultMap id="original" type="financial_management.entity.PersonalTradePO">
        <id column="id" jdbcType="BIGINT" property="ID"/>
        <result column="trade_id" jdbcType="BIGINT" property="transID"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="product_id" jdbcType="BIGINT" property="productID"/>
        <result column="amount" jdbcType="FLOAT" property="amount"/>
        <result column="price" jdbcType="FLOAT" property="price"/>
        <result column="fee" jdbcType="FLOAT" property="fee"/>
        <result column="total" jdbcType="FLOAT" property="total"/>
        <result column="user_id" jdbcType="BIGINT" property="userID"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_customize" jdbcType="BIT" property="isCustomize"/>
    </resultMap>

    <select id="selectByUserID" resultMap="original">
        select *
        from personal_trade
        where user_id = #{userID,jdbcType=BIGINT}
    </select>

    <select id="selectByID" resultMap="original">
        select *
        from personal_trade
        where id = #{ID,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="financial_management.entity.PersonalTradePO" keyColumn="id" keyProperty="ID" useGeneratedKeys="true">
        insert into personal_trade (id, trans_id, create_time, complete_time, type, product_id, amount, price, fee, total,
                                  user_id, status, is_customize)
        values (#{ID},#{transID},#{createTime},#{completeTime},#{type},#{productID},#{amount},#{price},#{fee},#{total},#{userID},#{status},#{isCustomize})
    </insert>

    <update id="update" parameterType="financial_management.entity.PersonalTradePO">
        update personal_trade
        set complete_time = #{CompleteTime},
            status = #{status}
        where id = #{ID};
    </update>
</mapper>