<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.order.TransferRecordMapper">
    <resultMap id="original" type="financial_management.entity.TransferRecordPO">
        <id column="id" jdbcType="BIGINT" property="ID"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime"/>
        <result column="user_id" jdbcType="BIGINT" property="userID"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_checked" jdbcType="BIT" property="isChecked"/>
        <result column="is_denied" jdbcType="BIT" property="isDenied"/>
        <result column="is_customize" jdbcType="BIT" property="isCustomize"/>
    </resultMap>

    <select id="selectByUserID" resultMap="original">
        select *
        from transfer_record
        where user_id = #{userID,jdbcType=BIGINT}
    </select>

    <select id="selectByID" resultMap="original">
        select *
        from transfer_record
        where id = #{ID,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="financial_management.entity.TransferRecordPO" keyColumn="id" keyProperty="ID"
            useGeneratedKeys="true">
        insert into transfer_record (create_time, complete_time, user_id, is_checked, is_denied, is_customize, status)
        values (#{createTime}, #{completeTime}, #{userID}, #{isChecked}, #{isDenied}, #{isCustomized}, #{status});
    </insert>

    <update id="update" parameterType="financial_management.entity.TransferRecordPO">
        update transfer_record
        set complete_time = #{completeTime},
            is_checked    = #{isChecked},
            is_denied     = #{isDenied},
            status        = #{status}
        where id = #{ID};
    </update>
</mapper>