<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.message.MessageMapper">
    <resultMap id="original" type="financial_management.entity.MessagePO">
        <id column="id" jdbcType="BIGINT" property="ID"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="user_id" jdbcType="BIGINT" property="userID"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="is_read" jdbcType="BIT" property="isRead"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </resultMap>

    <sql id="all">
        `id`, `time`, `user_id`, `type`, `content`, `is_read`, `is_delete`
    </sql>

    <select id="selectByUserID" resultMap="original">
        select
        <include refid="all"/>
        from message
        where user_id = #{userID,jdbcType=BIGINT}
        and is_delete = 0;
    </select>

    <select id="selectByUserIDandType" resultMap="original">
        select
        <include refid="all"/>
        from message
        where user_id = #{userID,jdbcType=BIGINT}
        and type = #{type,jdbcType=INTEGER}
        and is_delete = 0;
    </select>

    <select id="selectByUserIDandTypeAndPage" resultMap="original">
        select
        <include refid="all"/>
        from message
        where user_id = #{userID,jdbcType=BIGINT}
        and type = #{type,jdbcType=INTEGER}
        and is_delete = 0;
    </select>

    <select id="selectLatestMessageByTypeAndUserID" resultMap="original">
        select
        <include refid="all"/>
        from message
        where type = #{type,jdbcType=INTEGER}
        and user_id = #{userID,jdbcType=BIGINT}
        and is_delete = 0
        order by time desc
        limit 1
    </select>

    <select id="selectAmountOfUnreadByTypeAndUserID" resultType="java.lang.Integer">
        select count(id)
        from message
        where type = #{type,jdbcType=INTEGER}
          and user_id = #{userID,jdbcType=BIGINT}
          and is_read = 0
          and is_delete = 0
    </select>

    <insert id="insertMessage" parameterType="financial_management.entity.MessagePO" keyColumn="id" keyProperty="ID" useGeneratedKeys="true">
        insert into message (id, time, user_id, type, content, is_read, is_delete)
        values (#{ID,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}, #{userID,jdbcType=BIGINT}, #{type,jdbcType=INTEGER},
                #{content,jdbcType=VARCHAR}, #{isRead,jdbcType=BIT}, #{isDelete,jdbcType=BIT})
    </insert>

    <update id="readMessageByTypeAndUserID">
        update message
        set is_read = 1
        where type = #{type}
          and user_id = #{userID}
          and is_read = 0
    </update>

    <update id="deleteMessage" parameterType="financial_management.entity.MessagePO">
        update message
        set is_delete = 1
        where id = #{ID}
    </update>
</mapper>