<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.product.BondFundMapper">


    <update id="updateInvestRateByName">
        update user_bond_fund set bond_proportion = #{rate} where fund_name = #{product} and user_id = #{userId}
    </update>

    <insert id="insertvestRateByName">
        insert into user_bond_fund (user_id, fund_name, bond_proportion, fund_share, net_worth, update_time) values (#{userId},#{product},#{rate},0.0,0.0,#{time})
    </insert>

    <select id="selectUserBond" resultMap="UserBond">
        select * from user_bond_fund where user_id = #{userId} and fund_name = #{product} limit 1
    </select>

    <select id="selectBondFundByName" resultMap="BondFund">
        select * from bond_foundation where fund_name = #{product}
    </select>

    <update id="updateSumPurchaseByName">
        update bond_foundation set debt_sum = #{sum} where fund_name = #{product}
    </update>

    <select id="selectAllBond" resultMap="BondProduct">
        select * from bond
    </select>


    <select id="selectAllBondAndFund" resultMap="BondAndFund">
        select
          adf.bond_id,
          adf.amount,
          adf.investment_proportion,
          bond.latest_price,
          bond.code,
          bond.name,
          bond.latest_price*adf.amount total
        from bond_and_fund adf inner join bond on adf.bond_id = bond.id where adf.fund_id=#{fundId}
    </select>


    <update id="updateBondFundNetWorthy">
        update bond_foundation set fund_unit_value = #{price} where fund_name = #{product}
    </update>


    <update id="updateFundScale">
        update bond_foundation set fund_scale = #{sum} where fund_name = #{product}
    </update>

    <select id="selectBondPlatform" resultType="financial_management.entity.bond.BondPlatformPO">
        select
        bond_property bondAssets,
        residual_property residualAssets
        from platform_bond_fund limit 1
    </select>

    <update id="updateBondPlatform">
        update platform_bond_fund set residual_property = #{rest}, bond_property = #{bond}
    </update>

    <update id="deletePurchaseRecord">
        update bond_foundation set debt_sum  = 0
    </update>

    <update id="updateTotalShare">
        update bond_foundation set fund_share = #{amount} where fund_name = #{name}
    </update>

    <delete id="deleteBondAndFund">
        delete from bond_and_fund where fund_id = #{id}
    </delete>

    <insert id="insertBondAndFund">
        insert into bond_and_fund (fund_id, bond_id, investment_proportion, amount) values (#{fundId},#{bondId},#{invest},#{amount})
    </insert>

    <insert id="insertBondFund" parameterType="financial_management.entity.bond.BondFoundationPO">
        insert into bond_foundation (fund_name, fund_share, fund_scale, fund_unit_value, expect_return_rate, update_time, debt_sum) values (#{fundName},#{fundShare},#{fundScale},#{fundUnitValue},#{expectReturnRate},#{updateTime},#{debtSum})
    </insert>

    <insert id="insertBondPlatform" parameterType="financial_management.entity.bond.BondPlatformPO">
        insert into platform_bond_fund (bond_property, residual_property) values (#{bondAssets},#{residualAssets})
    </insert>

    <update id="updateUserFundShare">
        update user_bond_fund set fund_share = #{amount} where user_id = #{id} and fund_name = #{product}
    </update>

    <insert id="insertRateLog">
        insert  into bond_rate_log (fund_id, net_worth, "time") values (#{id},#{netWorth},#{time})
    </insert>

    <select id="getRateLogs" resultType="financial_management.entity.bond.NetWorthPO">
        select
          fund_id fundId,
          fund_name fundName,
          net_worth netWorth,
          `time` time
        from bond_rate_log where fund_id=#{id};
    </select>

    <update id="updateBondPriceByCode">
        update bond set latest_price = #{price} where code = #{code}
    </update>

    <select id="selectBondByCode" resultMap="BondProduct">
        select * from bond where code = #{code}
    </select>

    <insert id="insertBond">
        insert into bond (code, latest_price) values (#{code},#{price})
    </insert>

    <select id="selectRateList" resultType="financial_management.entity.bond.RateList">
        select commission_rate_one rate1,
        commission_rate_two rate2,
        commission_rate_three rate3
        from platform_bond_fund limit 1
    </select>

    <resultMap id="UserBond" type="financial_management.entity.bond.UserBondPO">
        <result property="userId" column="user_id"/>
        <result property="fundName" column="fund_name"/>
        <result property="bondProportion" column="bond_proportion"/>
        <result property="fundShare" column="fund_share"/>
        <result property="netWorth" column="net_worth"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="BondFund" type="financial_management.entity.bond.BondFoundationPO">
        <id property="id" column="id" />
        <result property="fundName" column="fund_name"/>
        <result property="fundShare" column="fund_share"/>
        <result property="fundScale" column="fund_scale"/>
        <result property="fundUnitValue" column="fund_unit_value"/>
        <result property="expectReturnRate" column="expect_return_rate"/>
        <result property="updateTime" column="update_time"/>
        <result property="debtSum" column="debt_sum"/>
    </resultMap>

    <resultMap id="BondProduct" type="financial_management.entity.bond.BondPO">
        <id property="id" column="id"/>
        <result property="name" column="product"/>
        <result property="code" column="code"/>
        <result property="latestPrice" column="latest_price"/>
    </resultMap>

    <resultMap id="BondAndFund" type="financial_management.entity.bond.BondAndFundPO">
        <result property="quantity" column="amount"/>
        <result property="price" column="latest_price"/>
        <result property="bondCode" column="code"/>
        <result property="investProportion" column="investment_proportion"/>
        <result property="bondName" column="name"/>
        <result property="amount" column="total"/>
    </resultMap>


</mapper>