<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.product.DepositMapper">

    <insert id="insertMyProduct" useGeneratedKeys="true" keyProperty="id">
        insert into my_depo (user_id, type, amount, name, rate, endtime)
        values (#{userId},#{type},#{amount},#{name},#{rate},#{endtime})
    </insert>

    <update id="updateMyProduct">
        update my_depo set type = #{type}, amount = #{amount}, name = #{name},rate = #{rate}, endtime = #{endtime}
        where id = #{id}
    </update>

    <delete id="deleteMyProduct">
        delete from my_depo
        where id = #{id}
    </delete>

    <update id="updateProportion">
        update my_depo set proportion = #{proportion}
        where id = #{id}
    </update>

    <select id="selectMyProduct" resultMap="MyProducts">
        select * from my_depo
        where user_id = #{userId}
    </select>

    <select id="selectMyProductAmount" resultType="Double">
        select sum(amount)
        from my_depo
        where user_id = #{userId}
    </select>

    <select id="selectSimpleMyProduct" resultMap="MyProducts">
        select * from my_depo
        where id = #{id}
    </select>

    <select id="ifExistMyProduct" resultType="boolean">
        select count(id)
        from my_depo where id = #{id}
    </select>

    <insert id="insertDepositRecommend" useGeneratedKeys="true" keyProperty="id">
        insert into deposit_recommend (name,currency,information,rate,start_time,end_time,start_amount,risk_level)
        values (#{name},#{currency},#{information},#{rate},#{startTime},#{endTime},#{startAmount},#{riskLevel})
    </insert>

    <update id="updateDepositRecommend">
        update deposit_recommend set name = #{name}, currency = #{currency}, information = #{information},rate = #{rate},start_time = #{startTime}, end_time = #{endTime},start_amount = #{startAmount},risk_level = #{riskLevel}
        where id = #{id}
    </update>

    <delete id="deleteDepositRecommend">
        delete from deposit_recommend
        where id = #{id}
    </delete>

    <select id="selectDepositRecommendByRiskRating" resultMap="OverseasBondRecommendPO">
        select * from overseas_bond_recommend
        where risk_rating = #{riskRating}
    </select>

    <select id="ifExistDepositRecommend" resultType="boolean">
        select count(id)
        from deposit_recommend where id = #{id}
    </select>

    <!--<select id="selectAllProducts" resultMap="DepositProduct">-->
        <!--select * from deposit_product;-->
    <!--</select>-->

    <!--<select id="selectSelfProducts" resultMap="MyProducts">-->
        <!--select md.user_id,-->
            <!--md.amount,-->
            <!--md.maturity,-->
            <!--md.product_id,-->
            <!--dp.product,-->
            <!--dp.type,-->
            <!--dp.rate-->
        <!--from my_depo md-->
        <!--inner join deposit_product dp-->
        <!--on md.product_id = dp.id-->
        <!--where md.user_id = #{userId}-->
    <!--</select>-->

    <!--<select id="selectProductByName" resultMap="DepositProduct">-->
        <!--select * from deposit_product where product=#{product}-->
    <!--</select>-->



    <resultMap id="DepositProduct" type="financial_management.entity.DepositProductPO">
        <id property="id" column="id"/>
        <result property="length" column="length"/>
        <result property="name" column="product"/>
        <result property="rate" column="rate"/>
        <result property="type" column="type"/>
    </resultMap>

    <resultMap id="MyProducts" type="financial_management.entity.MyDepoPO">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="amount" property="amount"/>
        <result column="name" property="name"/>
        <result column="rate" property="rate"/>
        <result column="endtime" property="endtime"/>
        <result column="proportion" property="proportion"/>
    </resultMap>

    <resultMap id="DepositRecommendPO" type="financial_management.entity.DepositRecommendPO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="currency" property="currency"/>
        <result column="information" property="information"/>
        <result column="rate" property="rate"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="start_amount" property="startAmount"/>
        <result column="risk_level" property="riskLevel"/>
    </resultMap>

    <resultMap id="OverseasBondRecommendPO" type="financial_management.entity.OverseasBondRecommendPO">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="rate" property="rate"/>
        <result column="end_time" property="endTime"/>
        <result column="redemption" property="redemption"/>
        <result column="bond_type" property="bondType"/>
        <result column="currency" property="currency"/>
        <result column="mechanism" property="mechanism"/>
        <result column="frequency" property="frequency"/>
        <result column="rating" property="rating"/>
        <result column="assets_type" property="assetsType"/>
        <result column="subscription_rate" property="subscriptionRate"/>
        <result column="early_redemption_fee" property="earlyRedemptionFee"/>
        <result column="service_fee" property="serviceFee"/>
        <result column="risk_rating" property="riskRating"/>
    </resultMap>

</mapper>