<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.product.GoldMapper">

    <insert id="insertGoldHistoryConfig">
        insert into gold_history_config(user_id,price,amount,sum,status)
        values(#{userId},#{price},#{amount},#{sum},#{status})
    </insert>

    <select id="selectGoldHistoryConfig" resultMap="GoldHistoryConfigPO">
        select * from gold_history_config
        where user_id = #{userId}
    </select>

    <select id="ifExistSelfGold" resultType="boolean">
        select count(user_id)
        from my_gold where user_id = #{userId}
    </select>

    <insert id="insertSelfGold">
        insert into my_gold(user_id,amount,diff,sum)
        values(#{userId},#{amount},#{diff},#{sum})
    </insert>

    <update id="updateSelfGold">
        update my_gold set amount = #{amount},diff = #{diff},sum = #{sum}
        where user_id = #{userId}
    </update>

    <select id="selectSelfGold" resultMap="MyGoldProduct">
        select * from my_gold where user_id = #{userId}
    </select>

    <update id="updateGoldProfit">
        update my_gold set profit = #{profit}
        where user_id = #{userId}
    </update>


    <select id="selectAllGold" resultMap="GoldProduct">
        select * from gold
    </select>

    <select id="selectById" resultMap="GoldProduct">
        select * from gold where id = #{Id}
    </select>

    <insert id="insertMyGold" parameterType="financial_management.entity.MyGoldPO">
        insert into my_gold (user_id, code, purchase_price, profit, profit_rate, quantity, amount) values (#{userId},#{code},#{purchasePrice},#{profit},#{profitRate},#{quantity},#{amount})
    </insert>

    <select id="selectGoldByCode" resultMap="GoldProduct">
        select * from gold where code = #{code}
    </select>

    <resultMap id="MyGoldProduct" type="financial_management.entity.MyGoldPO">
        <result property="userId" column="user_id"/>
        <result property="amount" column="amount"/>
        <result property="diff" column="diff"/>
        <result property="profit" column="profit"/>
        <result property="sum" column="sum"/>
    </resultMap>

    <resultMap id="GoldProduct" type="financial_management.entity.GoldPO">
        <id property="id" column="id"/>
        <result property="product" column="product"/>
        <result property="code" column="code"/>
        <result property="latestPrice" column="latest_price"/>
    </resultMap>

    <resultMap id="GoldHistoryConfigPO" type="financial_management.entity.GoldHistoryConfigPO">
        <result property="userId" column="user_id"/>
        <result property="price" column="price"/>
        <result property="amount" column="amount"/>
        <result property="sum" column="sum"/>
        <result property="time" column="time"/>
        <result property="status" column="status"/>
    </resultMap>

</mapper>