<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.product.InsuranceMapper">
    <insert id="insertInsuranceProduct" parameterType="financial_management.entity.insurance.SelfInsuranceProductPO" useGeneratedKeys="true">
        insert into my_ins (user_id, beneficiary, kind, maturity, amount, premiun, name) values (#{userId},#{beneficiary},#{kind},#{maturity},#{amount},#{premiun},#{name})
    </insert>

    <delete id="deleteInsuranceProduct">
        delete from my_ins where user_id = #{userId} and name = #{name} and maturity = #{date}
    </delete>

    <select id="selectInsuranceProductById" resultMap="Product">
        select * from my_ins where user_id = #{userId}
    </select>

    <insert id="insertInsuranceRecommand" parameterType="financial_management.entity.insurance.InsuranceRecommandPO">
        insert into insurance (user_id, person_role, kind, amount, premiun) values (#{userId},#{role},#{kind},#{insurance_amount},#{insurance_premiun})
    </insert>

    <delete id="deleteInsuranceRecommnad">
        delete from insurance where user_id=#{userId}
    </delete>

    <select id="selectInsuranceRecommand" resultMap="Recommand">
        select * from insurance where user_id = #{userId}
    </select>

    <delete id="deleteInsuranceProductById">
        delete from my_ins where user_id = #{userId} and id = #{productId}
    </delete>


    <select id="sumAmount" resultType="java.lang.Float">
        select sum(amount) from my_ins where user_id = #{userId}
    </select>

    <update id="updateInsuranceProduct" parameterType="financial_management.entity.insurance.SelfInsuranceProductPO">
        update my_ins set user_id = #{userId}, beneficiary = #{beneficiary}, kind = #{kind} , maturity = #{maturity}, amount = #{amount}, premiun = #{premiun}, name = #{name} where id = #{id}
    </update>

    <resultMap id="Product" type="financial_management.entity.insurance.SelfInsuranceProductPO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="amount" column="amount"/>
        <result property="beneficiary" column="beneficiary"/>
        <result property="kind" column="kind"/>
        <result property="maturity" column="maturity"/>
        <result property="name" column="name"/>
        <result property="premiun" column="premiun"/>
    </resultMap>

    <resultMap id="Recommand" type="financial_management.entity.insurance.InsuranceRecommandPO">
        <result property="userId" column="user_id"/>
        <result property="insurance_amount" column="amount"/>
        <result property="insurance_premiun" column="premiun"/>
        <result property="kind" column="kind"/>
        <result property="role" column="person_role"/>
    </resultMap>

</mapper>