<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.product.InsuranceMapper">
    <select id="selectAllInsProduct" resultMap="InsProduct">
      select * from ins_product;
    </select>

    <insert id="insertMyProduct" parameterType="financial_management.entity.MyInsPO">
        insert into my_ins (user_id, beneficiary, product_id, maturity, price) values (#{userId},#{beneficiary},#{productId},#{maturity},#{price})
    </insert>

    <select id="selectProductByName" resultMap="InsProduct">
        select * from ins_product where name = #{name}
    </select>

    <select id="selectSelfInsProducts" resultMap="MyInsProducts">
        select mi.user_id,
          mi.product_id,
          mi.price,
          mi.maturity,
          mi.beneficiary,
          ip.name,
          ip.compensation,
          ip.type
        from my_ins mi
        inner join ins_product ip
        on mi.product_id = ip.id
        where mi.user_id = #{userId}
    </select>

    <resultMap id="MyInsProducts" type="financial_management.entity.MyInsPO">
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
        <result property="price" column="price"/>
        <result property="maturity" column="maturity"/>
        <result property="beneficiary" column="beneficiary"/>
        <result property="name" column="name"/>
        <result property="compensation" column="compensation"/>
        <result property="type" column="type"/>
    </resultMap>
    <resultMap id="InsProduct" type="financial_management.entity.InsProductPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="compensation" column="compensation"/>
        <result property="length" column="length"/>
    </resultMap>


</mapper>