<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.product.StockMapper">
    <select id="selectAllDomStock" resultMap="DomProduct">
        select *
        from dom_stock
    </select>

    <select id="selectAllQDII" resultMap="ForProduct">
        select *
        from for_stock
    </select>

    <select id="selectSelfDomStock" resultMap="MyStockProduct">
        select *
        from my_stock
        where user_id = #{userId};
    </select>

    <select id="selectSelfQDII" resultMap="qdii">
        select *
        from my_qdii
        where user_id = #{userId};
    </select>

    <select id="selectSelfQDIIByCode" resultMap="qdii">
        select *
        from my_qdii
        where user_id = #{userId}
          and code = #{code}
    </select>

    <insert id="insertMyStock" parameterType="financial_management.entity.stock.MyStockPO">
        insert into my_stock (user_id, code, hold_price, hold_amount,
                              hold_total)
        values (#{userId}, #{code}, #{holdPrice}, #{holdNum},
                #{holdTotal});
    </insert>

    <insert id="insertMyQDII" parameterType="financial_management.entity.stock.MyQDIIPO">
        insert into my_qdii (user_id, code, hold_price, hold_num, hold_total)
        values (#{userId}, #{code}, #{holdPrice}, #{holdNum}, #{holdTotal});
    </insert>

    <update id="updateMyStock" parameterType="financial_management.entity.stock.MyStockPO">
        update my_stock
        set hold_price  = #{holdPrice},
            hold_amount = #{holdNum},
            hold_total  = #{holdTotal},
            profit      = #{profit},
            profit_rate = #{profitRate}
        where `user_id` = #{userId,jdbcType=BIGINT}
          and `code` = #{code,jdbcType=VARCHAR};
    </update>

    <update id="updateMyQDII" parameterType="financial_management.entity.stock.MyQDIIPO">
        update my_qdii
        set hold_price  = #{holdPrice},
            hold_num    = #{holdNum},
            hold_total  = #{holdTotal},
            profit      = #{profit},
            profit_rate = #{profitRate}
        where `user_id` = #{userId,jdbcType=BIGINT}
          and `code` = #{code,jdbcType=VARCHAR};
    </update>

    <update id="updateStock" parameterType="financial_management.entity.stock.DomStockPO">
        update dom_stock
        set latest_price = #{latestPrice}
        where id = #{id};
    </update>

    <update id="updateQDII" parameterType="financial_management.entity.stock.ForStockPO">
        update for_stock
        set latest_price = #{latestPrice}
        where id = #{id};
    </update>

    <select id="selectDomStockByCode" resultMap="DomProduct">
        select *
        from dom_stock
        where code = #{code}
    </select>

    <select id="selectQDIIByCode" resultMap="ForProduct">
        select *
        from for_stock
        where code = #{code}
    </select>

    <select id="selectQDIIById" resultMap="ForProduct">
        select *
        from for_stock
        where id = #{Id}
    </select>

    <select id="selectDomStockById" resultMap="DomProduct">
        select *
        from dom_stock
        where id = #{Id}
    </select>

    <delete id="deleteMyStock" parameterType="financial_management.entity.stock.MyStockPO">
        delete
        from my_stock
        where user_id = #{userId}
          and code = #{code}
    </delete>

    <delete id="deleteMyQDII" parameterType="financial_management.entity.stock.MyQDIIPO">
        delete
        from my_qdii
        where user_id = #{userId}
          and code = #{code}
    </delete>

    <select id="selectMyStock" resultMap="MyStockProduct" parameterType="java.lang.String">
        select *
        from my_stock
        <if test="code != null">
            where code = #{code}
        </if>
    </select>


    <select id="selectMyQDII" resultMap="qdii" parameterType="java.lang.String">
        select *
        from my_qdii
        <if test="code != null">
            where code = #{code}
        </if>
    </select>

    <resultMap id="MyStockProduct" type="financial_management.entity.stock.MyStockPO">
        <result property="code" column="code"/>
        <result property="userId" column="user_id"/>
        <result property="holdPrice" column="hold_price"/>
        <result property="holdAmount" column="hold_amount"/>
        <result property="holdTotal" column="hold_total"/>
        <result property="profit" column="profit"/>
        <result property="profitRate" column="profit_rate"/>
    </resultMap>

    <resultMap id="qdii" type="financial_management.entity.stock.MyQDIIPO">
        <result property="code" column="code"/>
        <result property="userId" column="user_id"/>
        <result property="holdPrice" column="hold_price"/>
        <result property="holdNum" column="hold_num"/>
        <result property="holdTotal" column="hold_total"/>
        <result property="profit" column="profit"/>
        <result property="profitRate" column="profit_rate"/>
    </resultMap>

    <resultMap id="DomProduct" type="financial_management.entity.stock.DomStockPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="latestPrice" column="latest_price"/>
    </resultMap>

    <resultMap id="ForProduct" type="financial_management.entity.stock.ForStockPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="latestPrice" column="latest_price"/>
    </resultMap>
</mapper>