<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.product.StockMapper">
    <select id="selectAllDomStock" resultMap="DomProduct">
        select * from dom_stock
    </select>

    <select id="selectAllForStock" resultMap="ForProduct">
        select * from for_stock
    </select>

    <select id="selectSelfDomStock" resultMap="MyStockProduct">
        select *from my_stock where code in(select code from dom_stock) and user_id = #{userId};
    </select>

    <select id="selectSelfForStock" resultMap="MyStockProduct">
        select *from my_stock where code in(select code from for_stock) and user_id = #{userId};
    </select>

    <insert id="insertMyStock" parameterType="financial_management.entity.MyStockPO">
        insert into my_stock (user_id, code, purchase_price, profit, profit_rate, quantity, amount) values (#{userId},#{code},#{purchasePrice},#{profit},#{profitRate},#{quantity},#{amount})
    </insert>

    <select id="selectDomStockByCode" resultMap="DomProduct">
        select *from dom_stock where code=#{code}
    </select>

    <select id="selectForStockByCode" resultMap="ForProduct">
        select *from for_stock where code=#{code}
    </select>

    <select id="selectForStockById" resultMap="ForProduct">
        select *from for_stock where id=#{Id}
    </select>

    <select id="selectDomStockById" resultMap="DomProduct">
        select *from dom_stock where id=#{Id}
    </select>

    <resultMap id="MyStockProduct" type="financial_management.entity.MyStockPO">
        <result property="code" column="code"/>
        <result property="userId" column="user_id"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="profit" column="profit"/>
        <result property="profitRate" column="profit_rate"/>
        <result property="quantity" column="quantity"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <resultMap id="DomProduct" type="financial_management.entity.DomStockPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="latestPrice" column="latest_price"/>
    </resultMap>

    <resultMap id="ForProduct" type="financial_management.entity.ForStockPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="latestPrice" column="latest_price"/>
    </resultMap>



</mapper>