<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.property.ManageMapper">

    <select id="isAdmin" resultType="boolean">
        select count(user_id) from user where user_id = #{adminId} and name = "admin"
    </select>

    <select id="getRecAllocList" resultMap="RecAllocPO">
        select
            u.user_id as userId,
            u.name as name,
            u.identity_num as identityNum,
            u.username as nick,
            u.email as email,
            r.funds_rate as fundsRate,
            r.saving_rate as savingRate,
            r.insurance_rate as insuranceRate,
            r.invest_rate as investRate
        from user u
        inner join recommend r
        on u.user_id =  r.user_id
    </select>

    <select id="getRecAlloc" resultMap="RecAllocPO">
        select
            u.user_id as userId,
            u.name as name,
            u.identity_num as identityNum,
            u.username as nick,
            u.email as email,
            r.funds_rate as fundsRate,
            r.saving_rate as savingRate,
            r.insurance_rate as insuranceRate,
            r.invest_rate as investRate
        from user u, recommend r
        where u.user_id = #{userId} and r.user_id = #{userId};
    </select>

    <insert id="editRecAlloc" parameterType="financial_management.parameter.property.RecAllocParam"
            useGeneratedKeys="true" keyProperty="id">
        update recommend
        set funds_rate = #{fundsRate}, saving_rate = #{savingRate}, insurance_rate = #{insuranceRate}, invest_rate = #{investRate}
        where user_id = #{userId}
    </insert>

    <resultMap id="RecAllocPO" type="financial_management.entity.property.RecAllocPO">
    </resultMap>

</mapper>