<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.property.QuestionnaireMapper">

    <select id="viewQuestById" resultMap="QuestionnairePO">        select * from questionnaire where userId = #{userId}
    </select>

    <insert id="insertOneQuest" parameterType="financial_management.parameter.QuestionnaireParam"
            useGeneratedKeys="true" keyProperty="id">
        insert into questionnaire(user_id, funds, saving, insurance, stocks, gold, bond, answer)
        values(#{userId}, #{funds}, #{saving},  #{insurance}, #{stocks}, #{gold}, #{bond}, #{answer})
    </insert>

    <resultMap id="QuestionnairePO" type="financial_management.entity.QuestionnairePO">

    </resultMap>

</mapper>