<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="financial_management.data.user.UserMapper">
    <select id="ifExistEmail" resultType="boolean">
        select count(user_id)
        from user where email = #{email}
    </select>

    <select id="ifExistIdentityNum" resultType="boolean">
        select count(user_id)
        from user where identity_num = #{identityNum}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into user(username,identity_num,name,email,phone_num,password,perms,status)
        values(#{username},#{identityNum},#{name},#{email},#{phoneNum},#{password},#{perms},#{status})
    </insert>

    <select id="selectUserByEmail" resultMap="UserPO">
        select * from user where email = #{email}
    </select>

    <update id="updateUsername">
        update user set username = #{username}
        where user_id = #{userId}
    </update>

    <update id="updateEmail">
        update user set email = #{newEmail}
        where email = #{oldEmail}
    </update>

    <update id="updatePhoneNum">
        update user set phone_num = #{phoneNum}
        where user_id = #{userId}
    </update>

    <update id="updatePasswordByUserId">
        update user set password = #{password}
        where user_id = #{userId}
    </update>

    <update id="updatePasswordByEmail">
        update user set password = #{password}
        where email = #{email}
    </update>

    <select id="selectAllUsers" resultMap="UserPO">
        select * from user where status = 1
    </select>

    <select id="selectSimpleUser" resultMap="UserPO">
        select * from user
        where user_id = #{userId}
    </select>

    <select id="ifExist" resultType="boolean">
        select count(user_id)
        from user where user_id = #{userId}
    </select>

    <update id="updateStatus">
        update user set status = #{status}
        where user_id = #{userId}
    </update>

    <resultMap id="UserPO" type="financial_management.entity.UserPO">
        <result column="user_id" property="userId"></result>
        <result column="username" property="username"></result>
        <result column="identity_num" property="identityNum"></result>
        <result column="name" property="name"></result>
        <result column="email" property="email"></result>
        <result column="phone_num" property="phoneNum"></result>
        <result column="password" property="password"></result>
        <result column="perms" property="perms"></result>
        <result column="status" property="status"></result>
        <result column="time" property="time"></result>
    </resultMap>

    <delete id="cleanInactive">
        delete from user where minute(timediff(now(),time))>10 and status=0
    </delete>

</mapper>